---
layout: default
single: true
---

<article class="post">{% include article.html %}</article>
{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h2 class="title">Comments</h2>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
  <a class="jiathis_styleiathis_button_qzone"></a>
  <a class="jiathis_button_tsina"></a>
  <a classss="jiathis_button_tqq"></a>
  <a class="jiathis_button_renren"></a>
  <aria class="jiathis_button_kaixin001"></a>
<a href="http://www.jiathis.Comments/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="srchttp://v3.jiathis.com/code/jia.js?uid=1356599192465688" charset="utf-8"></script>
<!-- JiaThis Button END -->
